#head {
  background-color: rgb(152, 167, 146);
  color: aliceblue;
}

body {
  background-color: rgb(235, 254, 255);
}
button {
  color: white;
  background-color: burlywood;
  border-radius: 10px;
  border: 1px solid black;
}

#divId {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  background-color: bisque;
}
